#octave-timer {
	width: 160px;
	margin: 10vw auto 0;
	padding: 1em;
	border: 1px solid silver;
	border-radius: 5px;
}

#octave-timer .timer-display {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 34px;
	line-height: 36px;
	margin-bottom: 5px;
}

#octave-timer progress {
	display: inline-block;
	width: 100%;
}

#octave-timer .timer-input {
	width: 2em;
	display: inline;
	font-size: 22px;
	margin-top: 8px;
}

#octave-timer .timer-input input {
	border: 1px solid white;
	background-color: #f8f7f7;
	border-radius: 5px;
	text-align: right;
}

#octave-timer .timer-controls {
	margin-top: 15px;
	text-align: center;
}

#octave-timer .timer-controls .btn-primary {
	width: 100%;
}
